<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Data Analytics - Binary Classification Ensembling</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        <link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="static/css/component.css" />
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
    </head>
    <style>
        html, body{
            height: 100%;
            background: rgba(0, 0, 0, 0) linear-gradient(135deg, #030811 0%, #14141F 100%);
            background-attachment: fixed;
        }
    </style>
	<body>
        <div class="w3-container w3-center">
        <h1 style="font-family: 'Roboto', sans-serif; color: whitesmoke;">Data Analytics - Binary Classification Ensembling</h1>
        </div>
        <div class="w3-container w3-center" style="margin-top: 120px; width: 80%; margin-left: 10%;">
            <h3 style="font-family: 'Roboto', sans-serif; color: whitesmoke; margin-bottom: 25px;">Instructions to use this tool:</h3>
            <div class="w3-row">
                <div class="w3-half w3-container" style="position: relative; height: 200px;">
                    <h4 style="font-family: 'Roboto', sans-serif; color: whitesmoke; margin: 0; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">Make a .csv file containing the result of different models used by you and their outputs by naming each model as M1, M2 and so on...</h4>
                </div>
                <div class="w3-half" style="height: 200px; position: relative;">
                    <img src="static/img/ex1.jpg" style="position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
                </div>
            </div>
            <div class="w3-row" style="margin-top: 25px;">
                    <div class="w3-half" style="height: 200px; position: relative;">
                        <img src="static/img/ex2.jpg" style="position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
                    </div>
                    <div class="w3-half w3-container" style="position: relative; height: 200px;">
                            <h4 style="font-family: 'Roboto', sans-serif; color: whitesmoke; margin: 0; position: absolute; top: 50%; -ms-transform: translateY(-50%);transform: translateY(-50%);">Name the column conatining the actual results as 'M'</h4>
                    </div>
            </div>
            <h4 style="font-family: 'Roboto', sans-serif; color: whitesmoke;">All done! Now upload the .csv file to see the result!</h4>
            <form action="{{ url_for('uploadBinaryClassificationEnsembler') }}" method="POST" enctype="multipart/form-data">
                <input style="display: none;" type="file" name="file" id="file-4" class="inputfile inputfile-3" data-multiple-caption="{count} files selected" multiple />
                <label for="file-4"><span>Choose a file&hellip;</span></label>        
                <br>
                <button class="w3-btn" style="background-color: #d3394c; color: white; margin-bottom: 12px;">Submit</button>
            </form>
        </div>
        <!-- jQuery -->
        <script src="static/js/custom-file-input.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 		<script src="Hello World"></script>
	</body>
</html> 